 @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    padding: 15px;
    background-color: #F5F8FA;
    /* height: 100vh; */
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F5F8FA;
    color: #1D2C3C;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01px;
    text-decoration: none;

}

.nav-img {
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 39px;
    flex-shrink: 0;
}

.nav-link {
    margin-left: auto;
}

.nav-link ul {
    list-style: none;
    padding: 0;
    display: flex;
    
}

.nav-link ul li{
    display: inline-block;
    padding: 10px;
}

.nav-link ul li a {
    text-decoration: none;
    color: #1D2C3C

}

.nav-link .nav-btn {
    border-radius: 6px;
    border: 2px solid #646E7A;
    width: 91px;
    height: 40px;
    flex-shrink: 0;
}

.container {
    display: flex;
    margin: 85px auto auto auto;
    /* position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* border: 1px solid red; */
    /* width: 892px;
    height: 795px; */
    width: 70%;
    /* height: 85%; */
    /* border: 1px solid grey; */
    /* border-radius: 3px; */
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);

}

.white-side {
    width: 67%;
    /* width: fit-content; */
    /* padding: 30px; */
    /* border: 1px solid rgb(128, 124, 0); */
    /* height: 100%; */

    > .checkout-container .white-side-heading {
        padding: 30px;
        width: 161px;
        height: 54px;
        /* flex-shrink: 0; */
        color: #1D2C3C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        /* border-bottom: 2px soild red; */
    }

    > hr {
        background-color:#F5F7FA;;
        width: 100%;
        /* margin-bottom: 20px; */
        /* margin-top: ; */
    }
}



.top-flex-1, .mid-flex {
    display: flex;
    align-items: center;
    padding-left: 30px ;

    > .round {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border: 2px solid;
        border-radius: 50%;
        padding: 8px;
        color: #548BC5;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.142px;    
    }

    > p {
        margin-inline-start: 7px;
        font-size: 12px;
        font-weight: 700;
        color: #1D2C3C;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.16px;
    }

}

.top-flex-2 {
    display: flex;
    gap: 0;

    > .wrapper {
        /* margin-inline-end: 0px; */
        margin-block: 10px;
        padding: 0 30px 0 30px;
        /* border: 1px solid red; */

        > label {
            display: block;
            margin-block-end: 7px;
            font-size: 10px;    
            color: #1D2C3C;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        > input {
            color: black;
            border-radius: 4px;
            padding: 5px;
            outline: none;
            border: 1px solid transparent;
            background: #EDEFF2;
            width: 227px;
            height: 36px;
            flex-shrink: 0;

            &:focus {
                border: 1px solid rgba(30, 109, 30, 0.813);
            }

            
        }
    

    }    
}

::placeholder {
    color: #646E7A;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email-wrapper, .middle .mid-form{
    padding: 0 30px 0 30px;

    > label {
        display: block;
        margin-block-end: 7px;
        color: #1D2C3C;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    

    > input {
        border: none;
        background-color: #EDEFF2;
        color: black;
        border-radius: 2px;
        padding: 5px;
        width: 65%;
        outline: none;
        border: 1px solid transparent;
        width: 370px;
        height: 36px;
        flex-shrink: 0;

        &:focus {
            border: 1px solid rgba(30, 109, 30, 0.813);
        }
    }
    
}

.top {
    margin-block-end: 41px;
}

.middle {
    margin-block-start: 35px;
    margin-block-end: 41px;
}

.bottom {
    margin-block-start: 39px;
}


.middle .mid-form {
    margin-block-start: 10px;

    > input {
        width: 100%;

        outline: none;
        border: 1px solid transparent;

        &:focus {
            border: 1px solid rgba(30, 109, 30, 0.813);
        }
    }
}


hr {
    margin-block: 20px;
}

.middle-hr {
    margin-bottom: 0px;
}

.bottom {
    padding: 15px 30px;
    margin-block-start: 0;
}

.bottom .btn {
    width: 100%;    
    padding: 10px;
    border: none;
    font-family: Lato, sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #038E7D;
    width: 521px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.396px;
}

.btm-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-end: 15px;

    .round {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #548BC5;;
        width: 5px;
        height: 5px;
        border: 2px solid;
        border-radius: 50%;
        padding: 6px;
        font-size: 11px;
        
    }
}

.btm-flex .help {
    font-size: 12px;
    margin-inline-start: 10px;

    color: #1D2C3C;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01px;

    > .need {
        font-weight: 700;
    }

    > .hes {
        color: grey;
    }
}

.bottom .stripe {
    text-align: center;
}



/* styling for the right side starts here */

.blue-side {
    width: 33%;
    /* background-color: rgb(15, 137, 244); */
    color: white;
    padding: 40px;
    font-family: Lato, sans-serif;

    border-radius: 0px 6px 6px 0px;
    background: #1179BF;

    > h3 {
        color: #FFF;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.01px;
    }

    > .price-tag {
        margin-block: 15px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* border: 1px solid red; */
        /* height: 172px; */
        
        > .super {
            font-size: 10px;
            align-self: flex-start;

            color: #FFF;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.015px;
            margin-top: 20px;
        }

        > .num {
            color: #FFF;
            font-family: Lato;
            font-size: 75px;
            /* font-style: normal; */
            /* font-weight: 200; */
            line-height: normal;
            letter-spacing: -0.015px;
            margin-inline-start: 10px;
            margin-inline-end: 10px;
            
        }

        > .year {
            /* font-size: 10px; */
            align-self: flex-end;
            margin-bottom: 10px;

            color: #FFF;
            font-family: Lato;
            font-size: 25px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            letter-spacing: -0.015px;
        } 
    }

    > .auto {
        
        width: 229px;
        color: #FFF;
        font-family: Lato;
        font-size: 19px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.008px;
        padding-right: 29px;
        margin-bottom: 45px;
    }
}

.points {
    margin-block: 15px;
    /* border: 1px solid red; */
    font-size: 13px;

    > .point-flex {
        display: flex;
        gap: 11px;
        margin-block-end: 16px;
        /* justify-content: center; */
        align-items: center;
        font-size: 13px;     
    }

    > .point {
        color: #FFF;
        font-family: Lato;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        letter-spacing: -0.008px;

        
    }


}

.pt-5 {
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.008px;
}

.blue-side .need {
    font-size: large;
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.008px;
/* margin-bottom: 20px; */
}

.bold {
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.008px;
}

.blue-side a {
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: italic;
font-weight: 700;
line-height: normal;
letter-spacing: -0.008px;

}

.need {
    margin-top: 25px;
    margin-bottom: 15px;
}

.ref {
    margin-bottom: 30px;
}

hr {
    margin-block: 30px;
}

blockquote {
    margin-top: 30px;
    font-style: italic;
    

}


.photo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-block-start: 20px

}

.photo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* footer styling */

footer {
    color: #636B6F;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block-start: 33px;

    > span {
        color: #31708F;
    }
}



 